name: Update GeoIP Databases

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup geoipupdate
        run: |
          # 安装geoipupdate工具
          wget -O geoipupdate.deb https://github.com/maxmind/geoipupdate/releases/download/v6.1.0/geoipupdate_6.1.0_linux_amd64.deb
          sudo dpkg -i geoipupdate.deb

      - name: Create config file
        run: |
          cat > GeoIP.conf << EOF
          AccountID 0
          LicenseKey ${{ secrets.MAXMIND_LICENSE_KEY }}
          EditionIDs GeoLite2-ASN GeoLite2-Country
          DatabaseDirectory .
          EOF
          cat GeoIP.conf

      - name: Run geoipupdate
        run: |
          geoipupdate -v -f GeoIP.conf
          echo "下载的文件:"
          ls -la *.mmdb

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update GeoIP databases" || exit 0
          git push